html,
body{
  width: 100%;
  height: 100%;
  background-color: rgb(237, 237, 237);
  font-family: 'Dosis', sans-serif;
}
.subItem{
  background-color: white;
  height:100px;
  height: 150px;
  transition: 200ms all ease;
  top : 0;
  left: 0;
  margin-bottom: 15px;
  color: #545454;
}
.subItem:hover{
  position: relative;
  left: -3px;
  top: -3px;
}
h2{
  font-size: 22px;
  border-left: 4px #4c4c4c solid;
  padding-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #868686 !important;
}